<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>@ViewBag.Title</title>
    @Html.Partial("_head")
</head>
<body>
    @RenderBody()
    @Html.Partial("_develop")
</body>
</html>
