@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hata";
}

<h1 class="text-danger">İlginize Teşekkürler. | Geçici Bir sorunla karşılaşıyoruz.</h1>
<h2 class="text-danger">Çok yoğun taleplerinizi, hızlı bir şekilde karşılamaya uğraşıyoruz.</h2>

