@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kilitli";
}

<h1 class="text-danger">İlginize Teşekkürler. | Bu alana erişiminiz kısıtlanmıştır.</h1>
<h2 class="text-danger">Çok yoğun taleplerinizi, hızlı bir şekilde karşılamaya uğraşıyoruz.</h2>
