<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Data-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Web;persist security info=True;user id=******;password=******;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--Custom Error-->
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.html" />
      <error statusCode="404" redirect="NotFound.html" />
    </customErrors>

  </system.web>
</configuration>
